@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic|Raleway:300,400,600");
@import "variables";
@import '~bootstrap/scss/bootstrap';
@import "layout/header";
@import "layout/footer";
@import "home";
@import "gallerie";
@import "kontakt";
@import "leistungen";

.puzzle-footer {
  margin-bottom: - map-get($spacers, 3);
}

.divider {
  width: 125px;
  height: 3.5px;
}

.overlay {
  position: relative;
  z-index: 0;

  &:before {
    background-color: #0c3240;
    opacity: .5;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
  }
}