#kontakt {
  min-height: 640px;
  padding-top: 6em;
  padding-bottom: 6em;
  background-size: cover;
  background-image: url(../images/c9d37e85f2ac70b674f7eb2401a51397_9898968974_6ca46ce396_k.jpg);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
}